html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.block-container {
  width: 300px;
  margin: 25px auto 165px;
}

@media (min-width: 768px) {
  .block-container {
    width: 748px;
    margin: 5px auto 306px;
  }
}

@media (min-width: 1920px) {
  .block-container {
    width: 1438px;
    margin: 150px auto;
  }
}




