.faq {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 235px 10px 166px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-variation-settings: 'wght' 500;
  color: var(--color-text);
  background: var(--color-bg) url("./../img/broccoli_s.png") no-repeat center;
  background-position: top 25px right 12px;

  &__header {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    text-transform: uppercase;
  }

  &__subheader {
    margin: 19px 0 18px;
    color: var(--color-text);
    font-size: 20px;
    line-height: 23px;
    font-variation-settings: 'wght' 600;
    text-transform: uppercase;
    text-align: center;
  }

  /* For content (not decorative) images cases
  &__content-image {
    position: absolute;
    top: 25px;
    right: 12px;
  }
  */
}

@media (min-width: 768px) {
  .faq {
    padding: 275px 90px 306px 10px;
    background: var(--color-bg) url("./../img/broccoli_m.png") no-repeat center;
    background-position: top 5px right;
    font-feature-settings: 'pnum' off, 'lnum' off;

    &__subheader {
      margin: 19px -85px 15px 0;
    }
  }
}
