.question {
  position: relative;
  margin-bottom: 45px;
  padding-left: 80px;
  transition: all 1s;

  &:first-of-type {
    margin-top: 30px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__toggler {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    background-color: transparent;
    transform-origin: center;
    transition: all 1s;

    &:focus {
      outline: none;
    }

    &:before, &:after {
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: 21px;
      height: 2px;
      background-color: var(--color-accent);
    }

    &:hover {
      &:before, &:after {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
      }
    }

    &:before {
      transform-origin: center;
      transform: translateX(-50%) rotate(-90deg);
    }
  }

  &__header {
    min-height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-variation-settings: 'wght' 600;
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }

  &_active {
    margin-bottom: 24px;

    .question__toggler {
      transform: rotate(45deg);
      background-color: var(--color-accent);

      &:before, &:after {
        background-color: var(--color-bg);
      }

      &:hover {
        cursor: pointer;

        &:before, &:after {
          box-shadow: none;
        }
      }
    }
  }

  &_active > .question__answer {
    max-height: 500px;
    overflow-y: auto;
    box-shadow: none;
    border-bottom: none;
  }

  &__paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.25px;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  &__text {

    &_accent {
      color: var(--color-accent);
      font-variation-settings: 'wght' 700;
    }
  }
}

@media (min-width: 768px) {
  .question {
    margin-bottom: 46px;
    padding-left: 100px;

    &:last-of-type {
      margin-top: -6px;
    }


    &_active {
      margin-bottom: 24px;
    }

    &__toggler {
      position: absolute;
      width: 70px;
      height: 70px;

      &:before, &:after {
        width: 26px;
        height: 2.5px;
      }
    }

    &__paragraph {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.2px;

      &:not(:first-of-type) {
        margin-top: 12px;
      }
    }
  }
}
